// src/assets/styles/global.scss
/* 全局样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
